body {
	font-family: Arial, sans-serif;
}

/*Прелоадер начался*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  background: url('../img/preloader.gif') no-repeat 50% 50%;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
/*прелоадер кончился*/

nav{
	width: 100%;
	height: 60px;
	background: #344851;
	position: fixed;
	z-index: 10;
}



.logo{
	color: white;
	font-size: 28px;
	line-height: 60px;
	float: left;
	-webkit-animation: coming 0.4s ease;
	-o-animation: coming 0.4s ease;
	animation: coming 0.4s ease;
}

main {
	width: 100%;
	height: 100%;
}

.menu{
	float: left;
}

.menu li{
	float: left;
	line-height: 60px;
	color: white ;
	margin-right: 40px;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-animation: topshift 0.4s ease forwards;
	-o-animation: topshift 0.4s ease forwards;
	animation: topshift 0.4s ease forwards;
	opacity: 0;
}

.menu li a {
	transition: all 0.3s;
	color: white;
	transform: scale(1);
	display: inline-block;
	text-decoration: none;
	
}

.menu li a:visited {
	color: white;
}


.menu li a:hover {
	color: orange;
}

.menu li a:active {
	transform: scale(1.1);
}


main{
	width: 100%;
	height: 100% ;
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, 
	url(../img/фон.png) center/cover no-repeat;
}

.title_container {
	float: left;
	color: rgb(44, 56, 74);
	text-align: center;
	width: 100%;
	opacity: 0;
	-webkit-animation: titlemove 1s ease forwards;
	-o-animation: titlemove 1s ease forwards;
	animation: titlemove 1s ease forwards;
	-webkit-animation-delay: 2.4s;
	-moz-animation-delay: 2.4s;
	-ms-animation-delay: 2.4s;
	-o-animation-delay: 2.4s;
	animation-delay: 2.4s;
}


.title_container h1{
	font-size: 72px;
	font-weight: 600;
	font-family: Arial; sans-serif;
}

.title_container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}

.title_container input {
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px;
}

.title_container input /*АНИМКИ*/ {
	transition: all 0.2s;
	transform: scale(1.0);
}

.title_container input:hover {
	background: #344851;
	color: white;
}

.title_container input:active {
	transform: scale(1.1);
}

@keyframes coming {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes topshift{
	from {
		opacity: 0;
		margin-top: -80px;
	}
	to {
		opacity: 1;
		margin-top: 0px;
	}
}

.menu li:nth-child(2) {
	animation-delay: 0.4s;
}

.menu li:nth-child(3) {
	animation-delay: 0.8s;
}

.menu li:nth-child(4) {
	animation-delay: 1.2s;
}

.menu li:nth-child(5) {
	animation-delay: 1.6s;
}

.menu li:nth-child(6) {
	animation-delay: 2s;
}

@keyframes titlemove{
	from {
		opacity: 0;
		margin-top: -500px;
	}
	to {
		opacity: 1;
		margin-left: 0px;
	}
}

.logo1 {
	text-align: center;
	font-size: 30px;
	margin: 110px 0px 42px 0px;
	-webkit-animation: logo1 1s ease forwards;
	-moz-animation: logo1 1s ease forwards;
	-ms-animation: logo1 1s ease forwards;
	-o-animation: logo1 1s ease forwards;
	animation: logo1 1s ease forwards;
	
}

@keyframes logo1 {
	from {
		opacity:0;
		margin-left: -1000px;
	}
	to {
		opacity: 1;
		margin-left: 0%;
	}
}

.imgs {text-align: center;}

.BW {
		padding: 60px 0px 23px 0px;
		text-align: center;
}

.second {
	text-align: center;
}

 .second span {
 	text-align: left;
 }


 .second input  {
 	background: url(../img/DowlandIco.png) left/12px 11px no-repeat ;
 	background-position: 7%  ;
 	height: 33px;
 	border: 2px solid #6f707e;
 	border-radius: 5px;
 	font-size: 13px;
 	padding: 9px 11px 9px 18px; 
	transition: all 0.2s;
	transform: scale(1.0);
 }

 .second input:hover {
 	transform: scale(1.3);
 }

 .second input:active {
 	transform: scale(1.0);
 }

.third {
	margin-top: 97px;
	padding-top: 3px;
	width: 100%;
	background: url(../img/ЧтоЯумеюФон.jpg) center/100% 100% no-repeat;
}	

.third ul {
	text-align: center;
	display: inline-block;
}



.third li {
	text-transform: uppercase;
	display: inline-block;
	-webkit-animation: Cshift 1s ease forwards;
	-o-animation: Cshift 1s ease forwards;
	animation: Cshift 1s ease forwards;
	opacity: 0;
}

@keyframes Cshift{
	from {
		opacity: 0;
		margin-left: -150%;
	}
	to {
		opacity: 1;
		margin-left: 0px;
	}
}

.third li img {
	
	height: 36px;
}

.third h4 {
	font-size: 14px;
	color: #cf7600;
}

.third h5 {
	font-size: 12px;
	color: #3f495a;
}

.casess h1 {
	text-align: center;
	color: #3f495a;
	font-size: 14px;
	margin: 36px 0px 42px 0px;
}

.casess h2 {
	text-align: center;
}


.Company{
	float: left;

}

.Company h3 {
	font-size: 24px;
	font-weight: bold;
}

.Company h4 {
	font-size: 16px;

}

.Company a {
	transform: scale(1.0);
}

.Company a:hover {
	transform: scale(1.3);
}

.Company a:active {
	transform: scale(1.0);
}


}

.ProjectName h4 {
	font-size: 20px;
	font-weight: bold;
}

.ProjectName h5 {
	font-size: 18px;
}

.aboba {

	text-align: left;
}

.EzMoney h3 {
	font-size: 25px;
	margin-top: 20px;
}






.stata {
	margin-top: 97px;
	padding-top: 3px;
	background: url(../img/keyboard.png) center/100% 100% no-repeat;
	background-attachment: fixed;
	color: white;
	width: 100%;
}

.stata ul {
	text-align: center;
}

.stata li {
	text-transform: uppercase;
	display: inline-block;
	-webkit-animation: Sshift 1s ease forwards;
	-o-animation: Sshift 1s ease forwards;
	animation: Sshift 1s ease forwards;
	opacity: 0;	
}


@keyframes Sshift{
	from {
		opacity: 0;
		margin-left: -250%;
	}
	to {
		opacity: 1;
		margin-left: 0px;
	}
}

.lilo img {
	width: 100px;
}


.Otzivi {
	text-align: center;
	font-size: 15px;
}

footer {
	background: url(../img/fon3.jpg) center/ 100% 100% no-repeat;
	text-align: center;
	color: white;
	margin-top: 30px;
}

footer logo1 {

}

footer span {
	color: white;
	font-size: 15px ;
}

footer ul {
	text-align: center;
	display: inline-block;
	padding: 108px 260px 0px 260px;
}
footer li {
	float: left;
	text-align: center;
	margin: 0px 92px;
}

footer li img {
	margin-bottom: 35px;
	width: 50px;
	height: 50px;
}

footer a{
	color: white;
}

footer h2 {
	color: white;
	font-size: 20px;
}

.up input {
	/*не понимаю как сделать окна ввода по рамерам*/
	margin-left: 10px;
	margin-right: 10px;
	min-width: 450px;
	height: 35px;
}
.send input {
	height: 20px;
	width: 100px;
	text-align: center;
	border: 2px solid #6d7682;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	margin-bottom: 100px;
	transform: all 0.2s;
	transform: scale(1.0);
}

.send input:hover {
	transform: scale(1.3);
}

.send input:active {
	transform: scale(1.0);
}

.end{
	widows: 100%;
	height: 60px;
	background: #344851;
	text-align: center;
	color: white;
	padding-top: 20px;
}

.white-btn:visited {
	color: white;
}

@media	(max-width: 991px) {
	.title_container, .title_container h4, .title_container input{
		color: white;
		position: relative;
		z-index: 3;
	}
	.title_container input {
		border: 2px solid #fff;
	}
	

	.main{
		position: relative;
	}
	.main::after{
		content: "";
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0);
		z-index: 1;
	}


}